@use "../custom" as *;

@keyframes fade-in {
  from {
    transform: translateY(100px);
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes hero-fade {
  25% {
    scale: .8;
    opacity: 1;
  }
  85% {
    scale: 2;
    opacity: 0.3;
  }
}
