@use "../custom" as *;
:root {
  body {
    background-color: $white;
    margin: 0;
  }
  // Scrollbar
  ::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar-track {
    background: $g-100;
  }
  ::-webkit-scrollbar-thumb {
    background: $primary;
    border-radius: 12px;

    &:hover {
      background: $secondary;
    }
  }

  img,
  svg {
    width: inherit;
    height: inherit;
  }

  ul {
    list-style: none;
    margin-block-start: 0.4em;
    margin-block-end: 0.4em;
    padding-inline-start: 0px;
  }
  section {
    padding: 2rem 4rem;

    @include responsive(mobile) {
    padding: 1.25rem;
  }

  }
}
