$primary: #409fff;
$secondary: #dd3333;
$accent: #00335a;
$accent2: #33beff;
$text-light: #636363;

$white: #ffffff;
$black: #000000;
$dark: #565656;
$g-100: #f8f8f8;
$g-200: #d3d3d3;
$g-300: #d5d8dc;
$g-400: #54595f;
$g-500: #222222;
