.btn {
  cursor: pointer;
  padding: 0.875rem;
  border-radius: 4px;
  border: none;
  text-transform: capitalize;
  font-family: "Nunito", "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
  transition: all 1s ease;
}
.btn:hover {
  filter: grayscale(0.2);
}
.btn.rounded {
  border-radius: 30px;
}
.btn.big {
  padding: 0.875rem 4rem;
}
@media (max-width: 767px) {
  .btn.big {
    padding: 0.875rem 2rem;
  }
}
.btn.primary {
  background-color: #409fff;
  color: #ffffff;
}
.btn.secondary {
  background-color: #dd3333;
  color: #ffffff;
}

.btn-non {
  cursor: pointer;
  padding: 0.875rem;
  border-radius: 4px;
  border: none;
  text-transform: capitalize;
  font-family: "Nunito", "Poppins", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: center;
  color: #dd3333;
  background-color: transparent;
  margin: 0 0.25rem;
  transition: background-color 300ms linear;
}
.btn-non:focus {
  background-color: rgba(221, 51, 51, 0.1);
}
.btn-non:hover {
  background-color: rgba(221, 51, 51, 0.05);
}

:root {
  @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
  font-family: Poppins, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
}
:root h1 {
  font-size: 3.625rem;
  font-weight: 600;
  line-height: 62px;
  letter-spacing: -1.5px;
}
@media (max-width: 767px) {
  :root h1 {
    font-size: 1.75rem;
    font-weight: 600;
    line-height: 35px;
  }
}
:root h2 {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 44px;
}
@media (max-width: 767px) {
  :root h2 {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 35px;
  }
}
:root h3 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -1px;
}
:root h4 {
  font-size: 1.375rem;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: -1px;
}
:root a {
  cursor: pointer;
  text-decoration: none;
  color: #000000;
}
:root .section_header {
  position: relative;
  margin-top: 2rem;
  color: #00335a;
}
:root .section_header::before {
  content: "";
  width: 100px;
  height: 5px;
  background-color: #33BEFF;
  position: absolute;
  top: -1.5rem;
  left: 0;
}

:root body {
  background-color: #ffffff;
  margin: 0;
}
:root ::-webkit-scrollbar {
  width: 6px;
}
:root ::-webkit-scrollbar-track {
  background: #f8f8f8;
}
:root ::-webkit-scrollbar-thumb {
  background: #409fff;
  border-radius: 12px;
}
:root ::-webkit-scrollbar-thumb:hover {
  background: #dd3333;
}
:root img,
:root svg {
  width: inherit;
  height: inherit;
}
:root ul {
  list-style: none;
  margin-block-start: 0.4em;
  margin-block-end: 0.4em;
  padding-inline-start: 0px;
}
:root section {
  padding: 2rem 4rem;
}
@media (max-width: 767px) {
  :root section {
    padding: 1.25rem;
  }
}

.input_group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  margin: 1rem 0;
  gap: 1rem;
}
.input_group .input_selector {
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.25rem 0.75rem;
  min-width: 65px;
  min-height: 45px;
  border-radius: 4px;
  background-color: rgba(248, 248, 248, 0.1);
  backdrop-filter: blur(2px);
  text-align: center;
  transition: all 500ms ease-in-out;
}
.input_group .input_selector:hover {
  background-color: rgba(221, 51, 51, 0.3);
}
.input_group .input_selector:has(> input[type=radio]:checked) {
  background-color: #dd3333;
}
.input_group .input_selector input[type=radio] {
  cursor: pointer;
  position: absolute;
  width: 70%;
  height: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}
.input_group .search_group {
  width: 60%;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 40px;
  padding: 1rem;
}
@media (max-width: 767px) {
  .input_group .search_group {
    width: 100%;
    padding: 0.85rem;
  }
}
.input_group .search_group .search_input {
  flex: 1;
  line-height: 18px;
  border-radius: 40px;
  padding: 0.875rem;
  border: none;
  box-shadow: 0px 0px 0px 0.5px #D3D3D3;
  margin-right: 1rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 22px;
}
@media (max-width: 767px) {
  .input_group .search_group .search_input {
    line-height: 16px;
    margin-right: 0.5rem;
  }
}
.input_group .search_group .search_input:focus, .input_group .search_group .search_input:focus-visible {
  outline: none;
}

/*# sourceMappingURL=root.css.map */
